@use "../../styles/partials/global";
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.warehouse-detail {
  margin: 0 1rem;

  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__heading-container {
    display: flex;
  }

  &__back-icon {
  }

  &__name {
  }

  &__edit-icon {
    width: 2.25rem;
    height: 2.25rem;
    background-color: $primary-color2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include tablet {
      width: 2.375rem;
      height: 2.375rem;
    }

    img {
      width: 1.25rem;
      height: 1.25rem;
      padding: 0.5rem 0.5rem;
    }
  }
}
