*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

main {
  width: calc(100vw - 2rem);
  margin: 0 1rem;
  background-color: white;
  position: absolute;
  top: 8.5rem;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  main {
    width: calc(100vw - 4rem);
    margin: 0 2rem;
    top: 5.75rem;
  }
}
@media screen and (min-width: 1280px) {
  main {
    width: 63.75rem;
    margin: 0 calc((100vw - 63.75rem) / 2);
    top: 5.75rem;
  }
}

.main-heading__container {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.main-heading__back-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.main-heading__name {
  line-height: 2.25rem;
  font-size: 1.75rem;
  font-weight: 600;
  color: #13182C;
}
@media screen and (min-width: 768px) {
  .main-heading__name {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 24, 44, 0.5);
}

.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .Modal {
    width: 42rem;
    height: 16.375rem;
    top: 11.5625rem;
    margin: 0 auto;
    border-radius: 0.1875rem;
  }
}

.modal-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.modal-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #13182C;
  width: 21.4375rem;
  margin-left: 1rem;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .modal-title {
    width: 30rem;
    height: 2.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-left: 3rem;
  }
}

.modal-article {
  width: 21.4375rem;
  height: 4.875rem;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #13182C;
}
@media screen and (min-width: 768px) {
  .modal-article {
    width: 30rem;
    height: 3.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.modal-btn {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    justify-content: end;
  }
}
.modal-btn__cancel, .modal-btn__delete {
  margin-left: 1rem;
  border-radius: 1.25rem;
  border: 1px solid #BDC5D5;
  padding: 0.5rem 3.9375rem;
  position: absolute;
  bottom: 1rem;
  width: 10.1875rem;
  height: 2.25rem;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 768px) {
  .modal-btn__cancel, .modal-btn__delete {
    padding: 0.5rem 1rem;
    width: 4.4375rem;
    height: 38px;
    bottom: 2rem;
  }
}
.modal-btn__cancel {
  background-color: #FFFFFF;
  color: #13182C;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .modal-btn__cancel {
    margin-right: 10rem;
  }
}
.modal-btn__delete {
  background-color: #C94515;
  color: #FFFFFF;
  font-weight: 600;
  right: 0;
  margin-right: 1rem;
  border-color: #C94515;
}
@media screen and (min-width: 768px) {
  .modal-btn__delete {
    margin-right: 5rem;
  }
}
.modal-btn__cancel:hover {
  border-color: #2E66E5;
  color: #2E66E5;
  cursor: pointer;
}
.modal-btn__delete:hover {
  background-color: #232940;
  color: #FFFFFF;
  border-color: #232940;
  cursor: pointer;
}/*# sourceMappingURL=CustomModal.css.map */