$primary-color1 : #13182C; //Instock-black
$primary-color2 : #5C667E; //Slate
$primary-color3 : #232940; //Graphite

$secondary-color1 : #2E66E5; //Instock-Indigo
$secondary-color2 : #BDC5D5; //Cloud
$secondary-color3 : #F7F8F9; //Light-Grey
$secondary-color4 : #FFFFFF; //White

