$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color1 : #13182C; //Instock-black
$primary-color2 : #2E66E5; //Instock-Indigo
$primary-color3 : #FFFFFF; //White


$secondary-color1 : #5C667E; //Slate
$secondary-color2 : #BDC5D5; //Cloud

$background-color1 : #232940; //Graphite
$background-color2 : #F7F8F9; //Light-Grey

$supporting-color1 : #158463; //Green
$supporting-color2 : #C94515; //Red