$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color1: #13182c; //Instock-black
$primary-color2: #2e66e5; //Instock-Indigo
$primary-color3: #ffffff; //White

$secondary-color1: #5c667e; //Slate
$secondary-color2: #bdc5d5; //Cloud

$background-color1: #232940; //Graphite
$background-color2: #f7f8f9; //Light-Grey

$supporting-color1: #158463; //Green
$supporting-color2: #c94515; //Red
