@use "../../styles/partials/global";
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.warehouse-inventory-details {
  display: flex;
  flex-direction: column;
}

.inventory-heading-container {
  display: none;
  @include tablet {
    display: flex;
    background-color: #f7f8f9b2;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0 2.5rem;
  }
}

.inventory-heading {
  @include tablet {
    width: 7.5rem;
    display: flex;
    gap: 0.25rem;
  }

  &__sort-icon {
    width: 1rem;
    height: 1rem;
    align-self: center;
    cursor: pointer;
  }
  &__text {
    line-height: 1rem;
    font-size: 0.6875rem;
    color: $secondary-color1;
    font-weight: 600;
    padding-bottom: 0.25rem;

    @include tablet {
      line-height: 1.125rem;
      font-size: 0.75rem;
      padding: 0.6875rem 0;
    }

    &--tablet {
      @include tablet {
        text-align: right;
        width: 7.5rem;
      }
    }
  }
}

.inventory-item {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.125rem 2rem;
    border-bottom: 1px solid $secondary-color2;

    &:last-child {
      border-bottom: none;
    }
  }
  @include desktop {
    padding: 1.125rem 2.5rem;
  }

  &__text {
    width: 7.5rem;
    line-height: 1.25rem;
    font-size: 0.8125rem;
    color: $primary-color1;
    font-weight: 400;

    @include tablet {
      line-height: 1.375rem;
      font-size: 0.875rem;
    }

    &--indigo {
      color: $primary-color2;
      font-weight: 600;
      display: flex;
      justify-content: baseline;
      gap: 0.25rem;
    }
  }

  &__status-tag {
    width: 7.5rem;
    display: flex;
    justify-content: flex-start;
  }

  &__actions {
    display: flex;
    width: 7.5rem;
    justify-content: flex-end;

    @include tablet {
      gap: 1rem;
    }

    button {
      background: none;
      border: none;
    }
  }

  &__action-icon {
    cursor: pointer;
  }

  &__arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
    background-color: #2e66e512;
  }
}

.status-green {
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.status-red {
  padding: 0;
  justify-content: flex-start;
}

.single-inventory-item {
  border-top: 1px solid $secondary-color2;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  gap: 1.25rem;

  &--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__detail {
    display: flex;
    flex-direction: column;
  }

  &__action-icon {
    border: none;
    background-color: $primary-color3;
  }
  @include tablet {
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #2e66e512;
  }
}

button {
  border-top: none;
  background-color: $primary-color3;
  cursor: pointer;
}
